body {
  font-family: Arial, sans-serif;
  margin: 0;
  color-gradient: linear-gradient(90deg, #88a9c4, #e2a054);
  background: #f4f7fa;
  color: #333;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-bottom: 2px solid #e0eaff;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #a17e50;
  
}

nav a {
  margin: 0 12px;
  text-decoration: none;
  color: #333;
}
nav a:hover {
  color: #65A2C4;
}
.donate-btn {
  margin-left: 20px;
  background: #65A2C4;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 36px; */
  max-width: 90%;
  margin: 30px auto;
  /* background: #fff; */
  /* padding: 32px;  */
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* this is an hero section  */
.hero {
  text-align: center;
  background-image: url('./Gemini_Generated_Image_ubq8c9ubq8c9ubq8.png');
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  height: 400px;
  width: 90%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  color: rgb(95, 127, 216);
  font-size: 2rem;
  margin-bottom: 8px;
  text-align: center;
}

.hero p {
  color: #442525;
  font-size: 1rem;
  margin-bottom: 8px;
  text-align: center;
}
.primary-btn, .secondary-btn {
  padding: 20px 50px;
  margin: 8px 8px 0 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.primary-btn {
  background: #6e9cb4;
  color: #fff;
}
.secondary-btn {
  background: #b38a68;
  color: #fff;
}

.how-it-works {
  background: #fff;
  padding: 40px 20px;
  border-radius: 12px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 60%;
  width: 80%;
}
.how-it-works h2 {
  color: #333;
  margin-bottom: 24px;
}
.how-it-works p {
  color: #555;
  margin-bottom: 16px;
}

.footer {
  background: linear-gradient(90deg, #88a9c4, #e2a054);
  color: #fff;
  padding: 32px 0 16px 0;
  text-align: center;
  /* text-align: right; */
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 2000px;
  width: 99%;
  /* margin: 0 auto; */
  /* margin-bottom: 12px; */
}
.footer a, .footer p, .copyright {
  color: #fff;
  font-size: 0.9em;
}

button {
  cursor: pointer;
}
